{% extends "base.html.twig" %}
{% set deck = app.session.get('deck') %}

{% block title %}Card game{% endblock %}

{% block body %}
<section>
    {% include "card/_nav.html.twig" %}
</section>
<h1>Drawn card</h1>

{% if hand.getCards() is not empty %}
    <div>
        {% for card in hand.getCards() %}
            <span>
								[<span class="card-suit {{ card.suit | lower }}">
								{{ card.getRank() }}
								</span>]
						</span>
        {% endfor %}
    </div>
{% else %}
    <p>No card drawn.</p>
{% endif %}

<p>Deck has {{ deck.getCount() }} cards left.</p>
{% endblock %}

