{% extends "base.html.twig" %}

{% block title %}About the course{% endblock %}

{% block body %}

    <h1>About the Course</h1>
    <div class="content">
      <img src="{{ asset('build/images/dbwebb.png') }}" alt="dbwebb bth logo" id="profile-photo">

      <div>
        <p><strong><a href="https://dbwebb.se/kurser/mvc-v2">mvc</a></strong> 채r en del av <a href="https://dbwebb.se">dbwebb</a> p책 <a href="https://bth.se">BTH</a>.</p>

        <p>Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar p책 objektorienterade programmeringstekniker i programmeringsspr책ket PHP. Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.</p>

				<p>
					<a href="https://github.com/dbwebb-se/mvc">Kursens github</a> och <a href="https://github.com/johangu/dbwebb-mvc">studentens github</a>.
				</p>

    </div>

{% endblock %}

