{% extends "base.html.twig" %}

{% block title %}JSON Routes{% endblock %}

{% block body %}

    <h1>JSON Routes</h1>
    <div>
				<h2>kmom01</h2>
        <ul>
            <li><a href="{{ path('api_quote') }}">/api/quote</a> - get random Sun Tzu quote</li>
        </ul>
				<h2>kmom02</h2>
				<ul>
						<li>GET /api/deck - Get the deck, sorted</li>
						<li>POST /api/deck/shuffle - Shuffle the deck and return it</li>
						<li>POST /api/deck/draw - Draw one card from the deck</li>
						<li>POST /api/deck/draw/:number - Draw :number cards from the deck</li>
						<li>POST /api/deck/deal/:players/:cards - Deal :cards cards from the deck to :player players</li>
				</ul>
        <h2>kmom03</h2>
        <ul>
            <li>GET <a href="{{ path('api_game') }}">/api/game</a> - Get the current state of the game of 21 in the session
        </ul>
    </div>

{% endblock %}


