{% extends "base.html.twig" %}

{% block title %}JSON Routes{% endblock %}

{% block body %}

    <h1>JSON Routes</h1>
    <div>
        <ul>
            <li><a href="{{ path('api_quote') }}">/api/quote</a> - get random Sun Tzu quote</li>
        </ul>
    </div>

{% endblock %}


