{% extends "base.html.twig" %}

{% block title %}JSON Routes{% endblock %}

{% block body %}

    <h1>JSON Routes</h1>
    <div>
				<h2>kmom01</h2>
        <ul>
            <li><a href="{{ path('api_quote') }}">/api/quote</a> - get random Sun Tzu quote</li>
        </ul>
				<h2>kmom02</h2>
				<ul>
						<li>GET /api/deck</a> - Get the deck, sorted</li>
						<li>POST /api/deck/shuffle</a> - Shuffle the deck and return it</li>
						<li>POST /api/deck/draw</a> - Draw one card from the deck</li>
						<li>POST /api/deck/draw/:number</a> - Draw :number cards from the deck</li>
						<li>POST /api/deck/deal/:players/:cards</a> - Deal :cards cards from the deck to :player players</li>
				</ul>
    </div>

{% endblock %}


